<div class="container-fluid">
  <div class="w-50 mx-auto mt-5">
    <form [formGroup]="addPG3Form">
      <div class="d-flex flex-column align-items-end gap-2 p-0 mb-3">
        <label for="PgDecription" class="form-label">اوقات العمل</label>
        <div
          class="d-flex flex-row-reverse justify-content-between align-items-center gap-2 w-100"
        >
          <select
            name="openingHours"
            id="openingHours"
            class="form-select"
            formControlName="openingHour"
          >
            <option value="{{ hour }}" *ngFor="let hour of hours">
              {{ hour }}
            </option></select
          >:
          <select
            name="closingHours"
            id="closingHours"
            class="form-select"
            formControlName="closingHour"
          >
            <option value="{{ hour }}" *ngFor="let hour of hours">
              {{ hour }}
            </option>
          </select>
        </div>
      </div>
      <div class="col d-flex flex-column align-items-end gap-2 p-0 mb-3">
        <label class="form-label">ايام العمل</label>
        <div
          class="d-flex flex-row-reverse align-items-center flex-wrap row-gap-1 w-100"
        >
          <div
            class="d-flex flex-column align-items-center gap-2 rounded-2 day-box"
            *ngFor="let day of daysOfWeek; let i = index"
          >
            <input
              type="checkbox"
              [name]="day[1]"
              [id]="day[1]"
              [value]="day[1]"
              (change)="selectDay(day[1])"
              class="form-check-input checkbox shadow-sm d-block mx-auto"
              [checked]="isDayInHolidays(day[1])"
            />
            <p>{{ day[0] }}</p>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column align-items-end gap-2 p-0 mb-3">
        <label for="Pgadvantages" class="form-label">المميزات</label>
        <div class="d-flex flex-row-reverse gap-2 flex-wrap mb-1">
          <button
            *ngFor="let adv of advantages"
            [ngClass]="{
              selected: selectedAdvs.includes(adv)
            }"
            class="btn border-1 pg-adv"
            (click)="selectadv(adv)"
          >
            {{ adv }}
          </button>
          <button class="btn border-1 add-adv" (click)="addadv()">
            اضافة المزيد
            <img src="assets/Add Circle black.svg" alt="add symbol" />
          </button>
        </div>
      </div>

      <div class="d-flex flex-row-reverse justify-content-between mb-5">
        <div class="d-flex flex-column align-items-end gap-2 p-0">
          <label for="PgpricePerHour" class="form-label">السعر بالساعة</label>
          <div class="d-flex flex-row-reverse align-items-end gap-1 w-100">
            <input
              type="number"
              name="feesForHour"
              id="PgpricePerHour"
              formControlName="feesForHour"
              class="form-control price-input"
            />
            <span class="hour">ساعة /</span>
          </div>
        </div>
        <div class="d-flex flex-column align-items-end gap-2 p-0">
          <label for="PgCancellationFees" class="form-label">رسوم إلغاء</label>
          <input
            type="number"
            name="cancellationFees"
            id="PgCancellationFees"
            formControlName="cancellationFees"
            class="form-control price-input"
          />
        </div>
      </div>

      <div class="text-center">
        <button
          class="btn next-btn shadow"
          DarkGreen
          (click)="next()"
          [disabled]="!addPG3Form.valid"
        >
          <img src="assets/Arrow Left.svg" alt="next arrow" />
          التالي
        </button>
      </div>
    </form>
  </div>
</div>
