<div class="text-danger">
  <p></p>
</div>

<div class="container-fluid">
  <div class="w-50 mx-auto mt-5">
    <form [formGroup]="addPG3Form">
      <div class="d-flex flex-column align-items-end gap-2 p-0 mb-3">
        <label for="Pgadvantages" class="form-label">المميزات</label>
        <div class="d-flex flex-row-reverse gap-2 flex-wrap mb-1">
          <button
            *ngFor="let adv of advantages"
            [ngClass]="{
              selected: selectedAdvs.includes(adv)
            }"
            class="btn border-1 pg-adv"
            (click)="selectadv(adv)"
          >
            {{ adv }}
          </button>
          <button class="btn border-1 add-adv" (click)="addadv()">
            اضافة المزيد
            <img src="assets/Add Circle black.svg" alt="add symbol" />
          </button>
        </div>
      </div>
      <div class="d-flex flex-column align-items-end gap-2 p-0 mb-3">
        <label for="Pgimgs" class="form-label">صور الملعب</label>
        <div class="upload-container">
          <div class="" *ngIf="uploadedFiles.length == 0">
            <img src="assets/feather_upload-cloud.svg" alt="" />
            <p class="drop-text">حدد ملفًا أو قم بالسحب والإسقاط هنا</p>
            <p class="file-size-text">
              لا يزيد حجم الملف عن 10 ميغابايت JPG أو PNG
            </p>
          </div>
          <div *ngIf="uploadedFiles.length > 0" class="uploaded-files mt-3">
            <p class="text-end">: الملفات المرفوعة</p>
            <ul>
              <div
                class="d-flex justify-content-between align-items-center"
                *ngFor="let file of uploadedFiles"
              >
                <li>{{ file.name }}</li>
                <i
                  class="fa-solid fa-xmark fa-xl"
                  style="color: #00e63e"
                  (click)="delFile(file)"
                ></i>
              </div>
            </ul>
          </div>
          <input
            type="file"
            #fileInput
            (change)="onFileSelected($event)"
            class="form-control"
            multiple
          />
          <!-- <button class="btn add-file" (click)="triggerFileInput()">
            اختيار ملف
          </button> -->
        </div>
      </div>
      <div class="d-flex flex-column align-items-end gap-2 p-0 mb-3">
        <label for="PgpricePerHour" class="form-label">السعر بالساعة</label>
        <div class="d-flex flex-row-reverse align-items-end gap-1 w-100">
          <input
            type="number"
            name="feesForHour"
            id="PgpricePerHour"
            formControlName="feesForHour"
            class="form-control w-50 price-input"
          />
          <span class="hour">ساعة /</span>
        </div>
      </div>

      <div class="text-center">
        <button
          class="btn next-btn"
          DarkGreen
          (click)="next()"
          [disabled]="!addPG3Form.valid"
        >
          <img src="assets/Arrow Left.svg" alt="next arrow" />
          التالي
        </button>
      </div>
    </form>
  </div>
</div>
