<div class="container-fluid footer">
  <div
    class="d-flex flex-column flex-md-row align-items-center align-items-md-start justify-content-md-between pb-4 pb-md-0 gap-2"
  >
    <div class="app-img">
      <img src="assets/app-footer.svg" alt="" />
    </div>
    <div
      class="d-flex flex-md-row flex-wrap flex-md-nowrap align-items-baseline justify-content-md-between gap-5 pt-5"
    >
      <div class="elem">
        <div class="d-flex flex-column align-items-end">
          <h3 class="down-text">حمل التطبيق</h3>
          <p class="booking-text">واحجز ملعبك المفضل</p>
        </div>
        <div
          class="d-flex flex-column justify-md-content-between align-items-end flex-wrap gap-3 pb-4 mb-5"
        >
          <button class="btn p-0">
            <img src="assets/app-store.svg" alt="" />
          </button>
          <button class="btn p-0">
            <img src="assets/google-play.svg" alt="" />
          </button>
        </div>
      </div>
      <div class="elem">
        <ul>
          <li>الرئيسية</li>
          <li>من نحن</li>
          <li>الشروط والأحكام</li>
          <li>تواصل معنا</li>
        </ul>
      </div>
      <div class="elem">
        <div class="d-flex flex-column align-items-end position-relative">
          <a class="p-0 m-0 navbar-brand" href="#"
            ><img src="assets/logo.svg" alt="logo"
          /></a>
          <p class="position-absolute logo-text">خماسي</p>
        </div>
        <div class="">
          <ul>
            <li class="d-flex justify-content-end align-items-center gap-1">
              {{ "info@elaab.com" }}
              <img src="assets/Letter.svg" alt="" />
            </li>
            <li class="d-flex justify-content-end align-items-center gap-1">
              +20 884652149635
              <img src="assets/Phone.svg" alt="" />
            </li>
            <li class="d-flex justify-content-end align-items-center gap-1">
              شارع النيل، حي الزمالك، القاهرة، مصر.
              <img src="assets/MapPin.svg" alt="" />
            </li>
          </ul>
          <div class="d-flex justify-content-end gap-2 mt-2">
            <img src="assets/insta.svg" alt="" />
            <img src="assets/X.svg" alt="" />
          </div>
        </div>
        <div></div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-end align-items-center gap-2 foot">
  <p class="footer-text">2024 &#169;</p>
  <p class="footer-text">جميع الحقوق محفوظة لخماسي</p>
</div>
