<div class="container-fluid p-0">
  <div class="card shadow border-0" style="width: 23rem">
    <img class="card-img-top" src="assets/pg.svg" alt="Card image cap" />
    <div class="card-body d-flex flex-column justify-content-start gap-3">
      <h5 class="card-title text-end">ملعب الشهداء</h5>
      <div>
        <p class="card-text property-text">:الموقع</p>
        <p class="card-text property-text-value">
          شارع النيل، حي الزمالك، القاهرة
        </p>
      </div>
      <div>
        <p class="card-text property-text">:السعر</p>
        <p class="card-text property-text-value">50 جنيه / ساعة</p>
      </div>
      <div>
        <p class="card-text property-text">:وصف الملعب</p>
        <p class="card-text property-text-value">
          الملعب ده مكان مليان حماس وإثارة، زي الفرحة اللي بتيجي لما الناس
          بتجتمع فيه عشان يتفرجوا على ماتش كورة. الملعب مش بس مكان لعب، ده بيكون
          زي مسرح الحدث، اللي بيتنقل فيه الأحداث الرياضية الكبيرة
        </p>
      </div>
      <div>
        <p class="card-text property-text">:مقاس الملعب</p>
        <p class="card-text property-text-value custumBG ms-auto">5X5</p>
      </div>
      <div>
        <p class="card-text property-text">:المميزات</p>
        <div class="d-flex flex-row-reverse flex-wrap gap-2">
          <p class="card-text property-text-value custumBG">مواقف سيارات</p>
          <p class="card-text property-text-value custumBG">
            غرف تبديل الملابس
          </p>
          <p class="card-text property-text-value custumBG">اضاءة</p>
          <p class="card-text property-text-value custumBG">واي فاي</p>
          <p class="card-text property-text-value custumBG">إسعاف وطوارئ</p>
          <p class="card-text property-text-value custumBG">عشب</p>
          <p class="card-text property-text-value custumBG">مرافق صحية</p>
        </div>
      </div>
      <div>
        <p class="card-text property-text">:اوقات العمل</p>
        <p class="card-text property-text-value"></p>
      </div>
      <div>
        <p class="card-text property-text">:ايام العمل</p>
        <p class="card-text property-text-value"></p>
      </div>
      <div
        class="d-flex justify-content-around py-3 booking-num rounded-2 w-100"
      >
        <div class="d-flex flex-column align-items-center">
          <p class="done-no">42</p>
          <p class="done">حجز تم</p>
        </div>
        <div class="d-flex flex-column align-items-center">
          <p class="new-no">25</p>
          <p class="new">حجز حالي</p>
        </div>
        <div class="d-flex flex-column align-items-center">
          <p class="new-no">12</p>
          <p class="new">حجز تم</p>
        </div>
      </div>
      <button class="btn btn-success w-75 d-block mx-auto py-1">
        تفعيل <span><img src="assets/Power2.svg" alt="" /></span>
      </button>
    </div>
  </div>
</div>
