.interNav {
  position: sticky;
  top: 0px;
  background-color: #f8f9fa;
  z-index: 10;
  margin-bottom: 100px !important;
}
.no-guards {
  margin-top: 120px;
}
.Guard-staus {
  color: #5e5d5d;
  font-size: 14px;
  margin: 0;
}
.Guard-statusActive {
  color: #1c1c1c;
  transform: scale(1.1);
  border: 1px solid #00b562;
  padding: 5px 8px;
  border-radius: 4px;
}
@media (min-width: 320px) {
  .employee {
    display: block !important;
  }
}
