<nav class="navbar navbar-expand-md p-0 py-4">
  <div class="container-fluid d-flex flex-row-reverse p-0">
    <div class="d-flex flex-column align-items-end position-relative">
      <a class="p-0 m-0 navbar-brand" href="#"
        ><img src="assets/logo.svg" alt="logo"
      /></a>
      <p class="position-absolute logo-text">خماسي</p>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <button
        DarkGreen
        class="btn text-white px-5 me-auto"
        routerLink="/Login"
        id="join"
      >
        انضم لنا
      </button>
      <ul class="navbar-nav flex-md-row-reverse flex-column">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="['/Home']"
            routerLinkActive="active-link"
            >الرئيسية</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLinkActive="actice-link">من نحن</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLinkActive="actice-link"
            >كيف نعمل</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLinkActive="actice-link"
            >ماذا نقدم</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
