<div class="overview-box">
  <div
    class="circle1 d-flex flex-row align-items-center justify-content-center position-relative"
  >
    <div class="circle2">
      <div class="img">
        <img src="assets/Group 427318931.svg" alt="" />
      </div>
    </div>
    <div class="position-absolute blue">
      <img src="assets/blue-circle.svg" alt="" />
    </div>
    <div class="position-absolute green">
      <img src="assets/green-circle.svg" alt="" />
    </div>
    <div class="position-absolute orange1">
      <img src="assets/orange-circle1.svg" alt="" />
    </div>
    <div class="position-absolute orange2">
      <img src="assets/orange-circle2.svg" alt="" />
    </div>
  </div>
</div>
