<div class="container-fluid p-0">
  <div class="background">
    <div class="d-flex flex-column flex-md-row-reverse justify-content-between">
      <div
        class="d-flex flex-column align-items-end justify-content-between gap-5 ms-auto w-75 position-relative"
      >
        <div class="d-flex flex-column align-items-end gap-3">
          <p class="paragraph1">عش تجربة حجز لاتنسى</p>
          <p class="w-75 paragraph2">
            عزز تجربتك الخاصة في حجز الملاعب واستكشف مجموعة واسعة من الملاعب
          </p>
        </div>
        <div
          class="d-flex justify-content-end justify-md-content-between align-items-center flex-wrap gap-3 pb-4 mb-5"
        >
          <button class="btn p-0">
            <img src="assets/app-store.svg" alt="" />
          </button>
          <button class="btn p-0">
            <img src="assets/google-play.svg" alt="" />
          </button>
        </div>
      </div>
      <div class="align-self-start py-4 player-img">
        <img src="assets/Group 34287.svg" alt="" />
      </div>
    </div>
  </div>

  <div class="d-flex flex-column align-items-center gap-5 w-75 mx-auto pb-5">
    <p class="feature-text">معنا حجز الملاعب صار اسهل و أسرع</p>
    <div class="row gap-5">
      <div class="col d-flex flex-column align-items-center gap-2">
        <div class="img1 rounded-4 p-3"><img src="assets/Ticket.svg" /></div>
        <p class="item-header">احجز و استمتع</p>
        <p class="item-text">
          احجز الملعب المناسب لك في الفترة المناسبة و عيش تجربة لاتنسى
        </p>
      </div>
      <div class="col d-flex flex-column align-items-center gap-2">
        <div class="img2 rounded-4 p-3">
          <img src="assets/Calendar.svg" />
        </div>
        <p class="item-header">حدد الوقت و التاريخ</p>
        <p class="item-text">
          حدد الوقت و التاريخ المناسب لك وانسى هم التذكير بالموعد
        </p>
      </div>

      <div class="col d-flex flex-column align-items-center gap-2">
        <div class="img3 rounded-4 p-3">
          <img src="assets/Football.svg" />
        </div>
        <p class="item-header">استكشف الملاعب</p>
        <p class="item-text">استكشف مجموعة واسعة من الملاعب في محيطك</p>
      </div>
    </div>
  </div>
</div>
