p {
  margin: 0px;
  font-weight: 600;
  color: #242424;
}
.background {
  background: linear-gradient(
    255deg,
    rgba(255, 255, 255, 0),
    rgba(155, 222, 218, 0.55),
    rgba(0, 181, 98, 0.8)
  );
  width: 100%;
  height: max-content;
  border-radius: 32px;
  margin-top: 40px;
  margin-bottom: 150px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}
.paragraph1 {
  color: #39963d;
  font-size: 48px;
  line-height: 72px;
  text-align: right;
}
.paragraph2 {
  text-align: right;
  font-size: 18px;
  line-height: 27px;
}

.feature-text {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

.img1 {
  background-color: #ff9500;
}
.img2 {
  background-color: #23bdee;
}
.img3 {
  background-color: #00b562;
}
.item-header {
  color: black;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}
.item-text {
  text-align: center;
  color: #5e5d5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.player-img {
  position: relative;
  left: 30px;
  /* left: -240px; */
  /* bottom: -100px; */
}
.player-img img {
  display: block;
  width: 450px;
}

@media (max-width: 512px) {
  .player-img img {
    width: 350px;
  }
}
@media (max-width: 417px) {
  .player-img img {
    width: 300px;
  }
}
@media (max-width: 367px) {
  .player-img img {
    width: 250px;
  }
}
