p {
  margin: 0;
  font-family: Cairo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.dayRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.progress {
  height: 5px;
  flex-grow: 1;
}
.day-name {
  width: 55px;
  text-align: end;
  color: #242424;
  line-height: 24px;
}
