p {
  margin: 0px;
  font-family: Cairo;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.booked-head {
  color: #5e5d5d;
  line-height: 27px;
}

.revenue-head {
  color: #5e5d5d;
  font-size: 24.624px;
  line-height: 36.935px;
}
.avail-pg {
  color: #5e5d5d;
  line-height: 27px;
}
.box {
  scroll-behavior: smooth;
  height: 300px;
  overflow-y: scroll;
}
.booking-head {
  color: #5e5d5d;
  line-height: 27px;
}

::-webkit-scrollbar {
  width: 5px;
}
/* ::-webkit-scrollbar-track {
  background-color: ;
} */
::-webkit-scrollbar-thumb {
  background-color: #a3a3a3;
  border-radius: 15px;
}
.display-text {
  font-size: calc(0.5rem + 2vw);
  font-weight: 300;
  line-height: 1.2;
}
