<div class="row gap-3 mx-3 dash-content">
  <div class="col-3 p-0 rounded-2 bg-white shadow-sm">
    <app-booked-pday></app-booked-pday>
  </div>
  <!--area charts here -->
  <div class="col"></div>
  <div class="col-12 bg-dark-subtle"></div>
  <div class="col-8 p-3 bg-white rounded-2">
    <div class="d-flex justify-content-between align-items-center pb-3">
      <button class="btn btn-outline-success">عرض الكل</button>
      <p class="avail-pg">ملاعبي القابلة للحجز</p>
    </div>
    <div class="d-flex flex-column gap-3 box">
      <app-pg-card></app-pg-card>
      <app-pg-card></app-pg-card>
      <app-pg-card></app-pg-card>
    </div>
  </div>
  <!--pie charts here -->
  <div class="col rounded-2"></div>
</div>
