<div
  class="container d-flex align-items-center justify-content-center log-container"
>
  <form class="form-box" [formGroup]="resetPassForm" (ngSubmit)="updatePass()">
    <div
      class="py-5 bg-white d-flex flex-column align-items-stretch text-center gap-4"
    >
      <p class="login-head">اعاده تعيين كلمة مرور جديدة</p>
      <span
        >هل قمت بالفعل باعاده تعيين كلمة المرور؟
        <a class="link"><span routerLink="/login"> تسجيل الدخول</span></a>
      </span>

      <div class="w-75 mx-auto d-flex flex-column gap-2">
        <div class="col d-flex flex-column align-items-end gap-2 p-0">
          <p class="fw-bold">
            <label for="uPass" class="form-label">كلمة المرور</label>
          </p>
          <div
            class="d-flex form-control position-relative p-0 align-items-center"
          >
            <i
              class="fa-regular {{
                showPassword ? 'fa-eye' : 'fa-eye-slash'
              }} fa-lg eye position-absolute"
              (click)="toggleType(1)"
            ></i>
            <input
              type="{{ showPassword ? 'text' : 'password' }}"
              name="password"
              id="uPass"
              class="form-control border-0 pass-input py-2"
              formControlName="password"
            />
          </div>
          <div class="progress gap-3 align-self-stretch" style="height: 2px">
            <div
              class="progress-bar bg-success"
              role="progressbar"
              style="width: 0; transition: 0.4s"
              aria-valuenow="0"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <span class="text-end">
            استخدم 8 أحرف أو أكثر مع مزيج من الحروف والأرقام والرموز.
          </span>
          <div
            class="w-100"
            *ngIf="
              resetPassForm.get('password')?.touched &&
              resetPassForm.get('password')?.errors
            "
          >
            <p
              class="alert alert-danger"
              *ngIf="resetPassForm.get('password')?.getError('required')"
            >
              Password is Required
            </p>
            <p
              class="alert alert-danger"
              *ngIf="resetPassForm.get('password')?.getError('minlength')"
            >
              minlength is 8
            </p>
          </div>
        </div>
        <div class="col d-flex flex-column align-items-end gap-2 p-0">
          <p class="fw-bold">
            <label for="uPass" class="form-label">اعد كلمة المرور</label>
          </p>
          <div
            class="d-flex form-control position-relative p-0 align-items-center"
          >
            <i
              class="fa-regular {{
                showRePassword ? 'fa-eye' : 'fa-eye-slash'
              }} fa-lg eye position-absolute"
              (click)="toggleType(2)"
            ></i>
            <input
              type="{{ showRePassword ? 'text' : 'password' }}"
              name="password"
              id="uRePass"
              class="form-control border-0 pass-input py-2"
              formControlName="confirmPassword"
            />
          </div>
          <div
            class="w-100"
            *ngIf="
              resetPassForm.get('confirmPassword')?.touched &&
              resetPassForm.get('confirmPassword')?.errors
            "
          >
            <p
              class="alert alert-danger"
              *ngIf="resetPassForm.get('confirmPassword')?.getError('required')"
            >
              Password is Required
            </p>
            <p
              class="alert alert-danger"
              *ngIf="
                resetPassForm
                  .get('confirmPassword')
                  ?.getError('passwordMismatch')
              "
            >
              Passwords Don't Match
            </p>
          </div>
        </div>
        <div
          class="w-100 mx-auto form-check d-flex align-items-center justify-content-end gap-4 p-0"
        >
          <label class="form-check-label agree-txt me-2" for="flexCheckDefault">
            اوافق على
            <span class="agree"> الشروط و الاحكام </span>
          </label>
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
            formControlName="constraints"
          />
        </div>
      </div>
      <p *ngIf="errMsg" class="alert alert-danger">{{ errMsg }}</p>
      <div class="w-75 mx-auto d-flex flex-column align-items-center gap-3">
        <button
          class="btn w-100"
          type="submit"
          DarkGreen
          [disabled]="resetPassForm.invalid"
        >
          تعيين كلمة المرور
        </button>
      </div>
    </div>
  </form>
  <div class="d-none d-lg-block"></div>
</div>
