<div
  class="container d-flex align-items-center justify-content-center justify-content-lg-between log-container"
>
  <form class="form-box" [formGroup]="loginForm" (ngSubmit)="login()">
    <div
      class="py-5 bg-white d-flex flex-column align-items-stretch text-center gap-4"
    >
      <p class="login-head">تسجيل الدخول</p>
      <div
        class="mx-auto d-flex align-items-center justify-content-center border border-1 border-black rounded-2 loginWG"
      >
        <p class="google-text flex-shrink-0">تسجيل الدخول عبر قوقل</p>
        <img src="assets/Google.svg" alt="" />
      </div>
      <div class="d-flex align-items-baseline gap-2 px-5">
        <hr class="line" />
        <p class="login-text">او سجل عبر الايميل</p>
        <hr class="line" />
      </div>
      <div class="w-75 mx-auto d-flex flex-column gap-2">
        <div class="d-flex flex-column align-items-end gap-2">
          <label for="uEmail" class="form-label">الايميل</label>
          <input
            type="email"
            name="email"
            id="uEmail"
            class="form-control email-input"
            placeholder="zeyad@gmail.com"
            formControlName="email"
          />
          <div
            class="w-100"
            *ngIf="
              loginForm.get('email')?.touched && loginForm.get('email')?.errors
            "
          >
            <p
              class="alert alert-danger"
              *ngIf="loginForm.get('email')?.getError('required')"
            >
              email is Required
            </p>
            <p
              class="alert alert-danger"
              *ngIf="loginForm.get('email')?.getError('email')"
            >
              Invalid format
            </p>
          </div>
        </div>
        <div class="d-flex flex-column align-items-end gap-2">
          <label for="uPass" class="form-label">كلمة المرور</label>
          <div
            class="d-flex form-control position-relative p-0 align-items-center"
          >
            <svg
              *ngIf="!showPassword"
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-eye-slash-fill eye position-absolute text-success"
              viewBox="0 0 16 16"
              (click)="toggleType()"
            >
              <path
                d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"
              />
              <path
                d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"
              />
            </svg>
            <svg
              *ngIf="showPassword"
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-eye-fill eye position-absolute text-success"
              viewBox="0 0 16 16"
              (click)="toggleType()"
            >
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
              <path
                d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"
              />
            </svg>

            <input
              type="{{ showPassword ? 'text' : 'password' }}"
              name="password"
              id="uPass"
              class="form-control border-0 pass-input"
              placeholder="****"
              formControlName="password"
            />
          </div>
          <p class="forget-text align-self-start" routerLink="/verification">
            نسيت كلمة المرور؟
          </p>
          <div
            class="w-100"
            *ngIf="
              loginForm.get('password')?.touched &&
              loginForm.get('password')?.errors
            "
          >
            <p
              class="alert alert-danger"
              *ngIf="loginForm.get('password')?.getError('required')"
            >
              password is Required
            </p>
            <p
              class="alert alert-danger"
              *ngIf="loginForm.get('password')?.getError('minlength')"
            >
              minlength is 8
            </p>
          </div>
        </div>
        <p *ngIf="errMsg" class="alert alert-danger">{{ errMsg }}</p>
      </div>
      <div class="w-75 mx-auto d-flex flex-column align-items-center gap-3">
        <button
          class="btn w-100"
          type="submit"
          [disabled]="loginForm.invalid"
          DarkGreen
        >
          تسجيل الدخول
          <span *ngIf="isLoading"
            ><i class="fa-solid fa-spinner fa-spin"></i
          ></span>
        </button>
        <p class="d-flex align-items-center no-account">
          <span class="forget-text" routerLink="/registration">
            انشاء حساب الان</span
          >لاتمتلك حساب؟
        </p>
      </div>
    </div>
  </form>
  <div class="d-none d-lg-block">
    <app-overview></app-overview>
  </div>
</div>
