<div class="container-fluid p-0 py-5">
  <div
    class="d-flex flex-column justify-content-between align-items-center gap-4"
  >
    <p class="text-head mb-3">ماذا قالو عن خماسي</p>
    <div
      class="d-flex justify-content-center align-items-start flex-wrap p-3 gap-3"
    >
      <div class="message-item shadow">
        <div
          class="d-flex flex-column justify-content-between align-items-end gap-5"
        >
          <p class="message">
            تطبيق رائع يسهل عليك تنظيم أنشطتك الرياضية. حجز الملاعب لم يكن بهذه
            السهولة من قبل!
          </p>
          <div
            class="d-flex flex-column align-items-end justify-content-start gap-2"
          >
            <p class="sender">خالد عمر</p>
            <div class="message-rating">
              <img src="assets/Star.svg" />
              <img src="assets/Star.svg" />
              <img src="assets/Star.svg" />
              <img src="assets/Star.svg" />
              <img src="assets/Star.svg" />
            </div>
          </div>
        </div>
      </div>
      <div class="message-item shadow">
        <div
          class="d-flex flex-column justify-content-start align-items-end gap-5"
        >
          <p class="message">
            أفضل تطبيق لحجز الملاعب على الإطلاق! يوفر وقتًا وجهدًا كبيرين
            ويساعدني في العثور على الملعب المناسب للعب كرة القدم.
          </p>
          <div
            class="d-flex flex-column align-items-end justify-content-start gap-2"
          >
            <p class="sender">محمد علي</p>
            <div class="message-rating">
              <img src="assets/Star.svg" />
              <img src="assets/Star.svg" />
              <img src="assets/Star.svg" />
              <img src="assets/Star.svg" />
              <img src="assets/Star.svg" />
            </div>
          </div>
        </div>
      </div>
      <div class="message-item shadow">
        <div
          class="d-flex flex-column justify-content-start align-items-end gap-5"
        >
          <p class="message">
            تطبيق رائع ومفيد للغاية! يسهل عليك حجز ملاعب كرة القدم بسهولة ويسر.
          </p>
          <div
            class="d-flex flex-column align-items-end justify-content-start gap-2"
          >
            <p class="sender">أحمد حسن</p>
            <div class="message-rating">
              <img src="assets/regular-star.svg" alt="" />
              <img src="assets/Star.svg" />
              <img src="assets/Star.svg" />
              <img src="assets/Star.svg" />
              <img src="assets/Star.svg" />
            </div>
          </div>
        </div>
      </div>
      <div class="message-item shadow">
        <div
          class="d-flex flex-column justify-content-start align-items-end gap-5"
        >
          <p class="message">
            أحببت كيف يجعلني التطبيق على اطلاع دائم بأماكن اللعب المتاحة
            والأسعار. تجربة ممتازة!
          </p>
          <div
            class="d-flex flex-column align-items-end justify-content-start gap-2"
          >
            <p class="sender">حسين</p>
            <div class="message-rating">
              <img src="assets/regular-star.svg" alt="" />
              <img src="assets/Star.svg" />
              <img src="assets/Star.svg" />
              <img src="assets/Star.svg" />
              <img src="assets/Star.svg" />
            </div>
          </div>
        </div>
      </div>
      <div class="message-item shadow">
        <div
          class="d-flex flex-column justify-content-start align-items-end gap-5"
        >
          <p class="message">
            تصميم أنيق وواجهة مستخدم بسيطة، يجعل هذا التطبيق متعة حقيقية لحجز
            الملاعب. أنا ممتن لوجوده في حياتي الرياضية
          </p>
          <div
            class="d-flex flex-column align-items-end justify-content-start gap-2"
          >
            <p class="sender">زياد</p>
            <div class="message-rating">
              <img src="assets/Star.svg" />
              <img src="assets/Star.svg" />
              <img src="assets/Star.svg" />
              <img src="assets/Star.svg" />
              <img src="assets/Star.svg" />
            </div>
          </div>
        </div>
      </div>
      <div class="message-item shadow">
        <div
          class="d-flex flex-column justify-content-start align-items-end gap-5"
        >
          <p class="message">
            تطبيق ممتاز يوفر لي وقتًا كبيرًا في البحث عن ملعب للعب كرة القدم.
            فعال وسهل الاستخدام
          </p>
          <div
            class="d-flex flex-column align-items-end justify-content-start gap-2"
          >
            <p class="sender">يوسف محمود</p>
            <div class="message-rating">
              <img src="assets/regular-star.svg" alt="" />
              <img src="assets/Star.svg" />
              <img src="assets/Star.svg" />
              <img src="assets/Star.svg" />
              <img src="assets/Star.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="d-flex align-items-center justify-content-end my-5 bg-white rounded-4 shadow download-box"
  >
    <div class="d-flex flex-column py-3 gap-3">
      <div class="d-flex flex-column gap-3 align-items-center pt-5">
        <p class="text-head">حمل تطبيق خماسي</p>
        <p class="text-content text-center">
          يمكنك تصفح مجموعة واسعة من الملاعب في محيطك و حجزها في التاريخ و الوقت
          المناسب لك
        </p>
      </div>
      <div
        class="d-flex gap-3 align-items-center justify-content-center pb-5 flex-wrap"
      >
        <button class="btn p-0">
          <img src="assets/app-store.svg" alt="" />
        </button>
        <button class="btn p-0">
          <img src="assets/google-play.svg" alt="" />
        </button>
      </div>
    </div>
    <div class="my-4">
      <img src="assets/Group 34288.svg" alt="" />
    </div>
  </div>
</div>
