<div
  class="container d-flex align-items-center justify-content-center log-container"
>
  <form
    class="form-box"
    [formGroup]="registerForm"
    (ngSubmit)="registerOwner()"
  >
    <div
      class="py-5 bg-white d-flex flex-column align-items-stretch text-center gap-4"
    >
      <p class="login-head">انشاء حساب</p>
      <div
        class="mx-auto d-flex align-items-center justify-content-center border border-1 border-black rounded-2 loginWG"
      >
        <p class="google-text flex-shrink-0">تسجيل الدخول عبر قوقل</p>
        <img src="assets/Google.svg" alt="" />
      </div>
      <div class="d-flex align-items-baseline gap-2 px-5">
        <hr class="line" />
        <p class="login-text">او سجل عبر الايميل</p>
        <hr class="line" />
      </div>
      <div class="w-75 mx-auto row row-cols-1">
        <div class="col d-flex flex-column align-items-end gap-2 p-0">
          <label for="fName" class="form-label">الاسم الاول</label>
          <input
            type="text"
            name="firstName"
            id="fName"
            class="form-control"
            formControlName="firstName"
          />
        </div>
        <div
          *ngIf="
            registerForm.get('firstName')?.touched &&
            registerForm.get('firstName')?.errors
          "
        >
          <p
            class="alert alert-danger"
            *ngIf="registerForm.get('firstName')?.getError('required')"
          >
            First Name is Required
          </p>
          <p
            class="alert alert-danger"
            *ngIf="registerForm.get('firstName')?.getError('minlength')"
          >
            First Name minlength is 3
          </p>
          <p
            class="alert alert-danger"
            *ngIf="registerForm.get('firstName')?.getError('maxlength')"
          >
            First Name Maxlength is 25
          </p>
        </div>
        <div class="col d-flex flex-column align-items-end gap-2 p-0">
          <label for="lName" class="form-label">الاسم الاخير</label>
          <input
            type="text"
            name="lastName"
            id="lName"
            class="form-control"
            formControlName="lastName"
          />
        </div>
        <div
          *ngIf="
            registerForm.get('lastName')?.touched &&
            registerForm.get('lastName')?.errors
          "
        >
          <p
            class="alert alert-danger"
            *ngIf="registerForm.get('lastName')?.getError('required')"
          >
            Last Name is Required
          </p>
          <p
            class="alert alert-danger"
            *ngIf="registerForm.get('lastName')?.getError('minlength')"
          >
            Last Name minlength is 3
          </p>
          <p
            class="alert alert-danger"
            *ngIf="registerForm.get('lastName')?.getError('maxlength')"
          >
            Last Name Maxlength is 25
          </p>
        </div>
        <div class="col d-flex flex-column align-items-end gap-2 p-0">
          <label for="uPhone" class="form-label">رقم الهاتف</label>
          <div
            class="d-flex form-control position-relative p-0 align-items-center justify-content-start"
          >
            <div class="position-absolute d-flex align-items-center gap-2 code">
              <img src="assets/egypt-flag.svg" alt="country flag" />
              <span class="pre-num"> +20 |</span>
            </div>
            <input
              type="text"
              name="phoneNumber"
              id="uPhone"
              class="form-control border-0 phone-input"
              formControlName="phoneNumber"
            />
          </div>
          <div
            class="w-100"
            *ngIf="
              registerForm.get('phoneNumber')?.touched &&
              registerForm.get('phoneNumber')?.invalid
            "
          >
            <p
              class="alert alert-danger"
              *ngIf="registerForm.get('phoneNumber')?.getError('required')"
            >
              Phone is Required
            </p>
            <p
              class="alert alert-danger w-100"
              *ngIf="registerForm.get('phoneNumber')?.getError('pattern')"
            >
              Phone number must be 11 digits
            </p>
          </div>
        </div>
        <div class="col d-flex flex-column align-items-end gap-2 p-0">
          <label for="uEmail" class="form-label">الايميل</label>
          <input
            type="email"
            name="email"
            id="uEmail"
            class="form-control email-input"
            formControlName="email"
          />
        </div>
        <div
          *ngIf="
            registerForm.get('email')?.touched &&
            registerForm.get('email')?.errors
          "
        >
          <p
            class="alert alert-danger"
            *ngIf="registerForm.get('email')?.getError('required')"
          >
            email is Required
          </p>
          <p
            class="alert alert-danger"
            *ngIf="registerForm.get('email')?.getError('email')"
          >
            Invalid format
          </p>
        </div>
        <div class="col d-flex flex-column align-items-end gap-2 p-0">
          <label for="uPass" class="form-label">كلمة المرور</label>
          <div
            class="d-flex form-control position-relative p-0 align-items-center"
          >
            <svg
              *ngIf="!showPassword"
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-eye-slash-fill eye position-absolute text-success"
              viewBox="0 0 16 16"
              (click)="toggleType(1)"
            >
              <path
                d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"
              />
              <path
                d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"
              />
            </svg>
            <svg
              *ngIf="showPassword"
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-eye-fill eye position-absolute text-success"
              viewBox="0 0 16 16"
              (click)="toggleType(1)"
            >
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
              <path
                d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"
              />
            </svg>
            <input
              type="{{ showPassword ? 'text' : 'password' }}"
              name="password"
              id="uPass"
              class="form-control border-0 pass-input py-2"
              formControlName="password"
            />
          </div>

          <p class="pass-text">
            استخدم 8 أحرف أو أكثر مع مزيج من الحروف والأرقام والرموز.
          </p>
          <div
            class="w-100"
            *ngIf="
              registerForm.get('password')?.touched &&
              registerForm.get('password')?.errors
            "
          >
            <p
              class="alert alert-danger"
              *ngIf="registerForm.get('password')?.getError('required')"
            >
              password is Required
            </p>
            <p
              class="alert alert-danger"
              *ngIf="registerForm.get('password')?.getError('minlength')"
            >
              Password must be at least 8 digits
            </p>
          </div>
        </div>
        <div class="col d-flex flex-column align-items-end gap-2 p-0">
          <label for="uPass" class="form-label">اعد كلمة المرور</label>
          <div
            class="d-flex form-control position-relative p-0 align-items-center"
          >
            <svg
              *ngIf="!showRePassword"
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-eye-slash-fill eye position-absolute text-success"
              viewBox="0 0 16 16"
              (click)="toggleType(2)"
            >
              <path
                d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"
              />
              <path
                d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"
              />
            </svg>
            <svg
              *ngIf="showRePassword"
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-eye-fill eye position-absolute text-success"
              viewBox="0 0 16 16"
              (click)="toggleType(2)"
            >
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
              <path
                d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"
              />
            </svg>
            <input
              type="{{ showRePassword ? 'text' : 'password' }}"
              name="password"
              id="uPassC"
              class="form-control border-0 pass-input py-2"
              formControlName="confirmPassword"
            />
          </div>
          <div
            class="w-100"
            *ngIf="
              registerForm.get('confirmPassword')?.touched &&
              registerForm.get('confirmPassword')?.invalid
            "
          >
            <p
              class="alert alert-danger"
              *ngIf="registerForm.get('confirmPassword')?.getError('required')"
            >
              Confirmation Password is Required
            </p>
            <p
              class="alert alert-danger"
              *ngIf="
                registerForm
                  .get('confirmPassword')
                  ?.getError('passwordMismatch')
              "
            >
              Passwords don't match
            </p>
          </div>
        </div>
      </div>
      <div
        class="w-75 mx-auto form-check d-flex align-items-center justify-content-end gap-4 p-0"
      >
        <label class="form-check-label agree-txt me-2" for="flexCheckDefault">
          اوافق على
          <span class="agree"> الشروط و الاحكام </span>
        </label>
        <input
          class="form-check-input"
          type="checkbox"
          name="constraints"
          value="true"
          id="flexCheckDefault"
          formControlName="constaints"
        />
      </div>
      <div class="w-75 mx-auto d-flex flex-column align-items-center gap-3">
        <button
          class="btn w-100 text-white py-3"
          DarkGreen
          [disabled]="registerForm.invalid"
        >
          انشاء حساب
          <span *ngIf="isLoading"
            ><i class="fa-solid fa-spinner fa-spin"></i
          ></span>
        </button>
        <p *ngIf="errMsg" class="alert alert-danger">{{ errMsg }}</p>
        <p class="d-flex align-items-center gap-1 have-account">
          <span class="login-acc" routerLink="/login">تسجيل الدخول </span>هل
          لديك حساب؟
        </p>
      </div>
    </div>
  </form>
</div>
