<div
  class="container-fluid p-0 m-0 bg-white rounded-2 shadow-sm border border-1"
>
  <div class="row p-1 m-0">
    <div class="col-auto p-0 rounded-2">
      <img class="w-100" src="assets/pg.svg" alt="playground image" />
    </div>
    <div class="col d-flex flex-column justify-content-between rounded-end-2">
      <div class="d-flex flex-column align-items-end gap-1">
        <p class="pg-name">ملعب الشهداء</p>
        <p class="location text-end">
          شارع النيل، حي الزمالك، القاهرة
          <img src="assets/MapPin.svg" alt="" />
        </p>
        <p class="price text-end">
          50 جنيه / ساعة
          <img src="assets/CurrencyCircleDollar.svg" alt="" />
        </p>
      </div>
      <div class="d-flex justify-content-around py-3 booking-num rounded-2">
        <div class="d-flex flex-column align-items-center">
          <p class="done-no">42</p>
          <p class="done">حجز تم</p>
        </div>
        <div class="d-flex flex-column align-items-center">
          <p class="new-no">12</p>
          <p class="new">حجز جديد</p>
        </div>
      </div>
      <button
        class="btn btn-outline-success w-100 d-flex align-items-center justify-content-center gap-2"
      >
        <p>الغاء التفعيل</p>
        <img src="assets/Power.svg" alt="" />
      </button>
    </div>
  </div>
</div>
