<div class="container-fluid py-5 join-container rounded-4 shadow">
  <p class="join-head px-5">انصم لنا كمالك ملعب</p>
  <div
    class="d-flex flex-row justify-content-between align-items-center join-box"
  >
    <app-overview class="px-5"></app-overview>
    <div class="d-flex flex-column align-items-end gap-5 join-content pe-5">
      <ul class="d-flex flex-column align-items-end gap-4">
        <li
          class="d-flex flex-row-reverse align-items-center justify-content-end gap-2"
        >
          <img src="assets/element1.svg" class="elem elem1" alt="" />
          <p class="text-elem">ادارة سهله</p>
        </li>
        <li
          class="d-flex flex-row-reverse align-items-center justify-content-end gap-2"
        >
          <img src="assets/element2.svg" class="elem elem2" alt="" />
          <p class="text-elem">وفر دخل اكبر</p>
        </li>
        <li
          class="d-flex flex-row-reverse align-items-center justify-content-end gap-2"
        >
          <img src="assets/element3.svg" class="elem elem3" alt="" />
          <p class="text-elem">تقييمات و مراجعات</p>
        </li>
        <li
          class="d-flex flex-row-reverse align-items-center justify-content-end gap-2"
        >
          <img src="assets/element4.svg" class="elem elem4" alt="" />
          <p class="text-elem">احصل على على تقارير و احصائيات</p>
        </li>
      </ul>
    </div>
  </div>
</div>
