<div
  class="container d-flex align-items-center justify-content-center  log-container"
>
  <form class="form-box">

    <div
      class="py-5 bg-white d-flex flex-column align-items-stretch text-center gap-4">
      <div class="col d-flex flex-column align-items-center gap-2">
        <div class="img2 rounded-4 p-3">
            <img class="icon"  src="assets/lock.svg" alt="" />
        </div>

      </div>

      <p class="login-head">هل نسيت كلمة السر ؟</p>
      <span>ادخل بريدك الالكتروني لاعاده تعيين كلمه المرور الخاصه بك</span>


      <div class="w-75 mx-auto d-flex flex-column gap-2">
        <div class="d-flex flex-column align-items-end gap-2">
         <p class="fw-bold"> <label for="uEmail" class="form-label">الايميل</label></p>
          <input
            type="email"
            name="email"
            id="uEmail"
            class="form-control"
            placeholder="zeyad@gmail.com"
          />
        </div>

      </div>
      <div class="w-75 mx-auto d-flex flex-column align-items-center gap-3">
        <button  routerLink="/Passreset" class="btn w-100" DarkGreen>تعيين كلمة المرور</button>
        <p class="d-flex align-items-center no-account">
          <span class="forget-text" routerLink="/Registration">
            تراجع</span>
        </p>
      </div>
    </div>
  </form>
  <div class="d-none d-lg-block">

  </div>
</div>


