<div class="container-fluid">
  <div class="w-50 mx-auto mt-4">
    <form class="form">
      <h2>قم برفع صور و اوراق ملكية الملعب</h2>

      <app-file-uploader
        label="صور الملعب"
        [isDoc]="false"
        [pgId]="pgId"
        [ownToken]="ownToken"
        (fileUploaded)="onFileUploadSuccess($event, false)"
      ></app-file-uploader>

      <app-file-uploader
        label="اوراق الملعب"
        [isDoc]="true"
        [pgId]="pgId"
        [ownToken]="ownToken"
        (fileUploaded)="onFileUploadSuccess($event, true)"
      ></app-file-uploader>

      <div class="text-center mb-2">
        <button
          class="btn next-btn shadow w-75 mx-auto"
          DarkGreen
          (click)="next()"
        >
          اضافة الملعب
          <img src="assets/Add Circle.svg" alt="next arrow" />
        </button>
      </div>
    </form>
  </div>
</div>
