<div class="container-fluid p-0">
  <div class="m-0">
    <div class="d-flex align-items-center justify-content-between p-3 interNav">
      <div class="d-flex align-items-center gap-2">
        <button
          class="btn btn-success d-flex align-items-center gap-1 shadow"
          DarkGreen
          (click)="addPg()"
        >
          اضافة ملعب
          <span><img src="assets/Add Circle.svg" alt="" /></span>
        </button>
      </div>
      <div class="d-flex align-items-center gap-3">
        <p
          class="PG-staus"
          routerLinkActive="PG-statusActive"
          routerLink="/dashboard/playgrounds/unbookable"
          (click)="filterPgs(false)"
        >
          الغير قابلة للحجز
        </p>
        <p
          class="PG-staus"
          routerLinkActive="PG-statusActive"
          routerLink="/dashboard/playgrounds/bookable"
          (click)="filterPgs(true)"
        >
          القابلة للحجز
        </p>
      </div>
    </div>
    <!--  bg-box class removed from the below line -->
    <div class="m-0">
      <ng-container *ngIf="isLoading">
        <app-loader class="mx-auto"></app-loader>
      </ng-container>
      <ng-container *ngIf="!isLoading && allPGs && allPGs.length">
        <app-playground-details
          [allPGs]="filterdPGs"
          (reloaddata)="updateData($event)"
        ></app-playground-details>
      </ng-container>
      <ng-container *ngIf="!isLoading && (!allPGs || allPGs.length === 0)">
        <div class="d-flex flex-column gap-4 no-pg">
          <div class="d-flex justify-content-center align-items-center">
            <img src="assets/Calendar22.svg" alt="" />
          </div>
          <p class="m-auto text-center display-text display-6">
            لا يوجد لديك اي ملاعب
          </p>
        </div>
      </ng-container>
    </div>
  </div>
</div>
