<div class="container-fluid p-0">
  <div class="m-0">
    <div class="d-flex align-items-center justify-content-between p-3">
      <div class="d-flex align-items-center gap-2">
        <button
          class="btn btn-success d-flex align-items-center gap-1"
          DarkGreen
          routerLink="/dashboard/playgrounds/add1"
        >
          اضافة ملعب
          <span><img src="assets/Add Circle.svg" alt="" /></span>
        </button>
        <!-- <button class="btn btn-outline-success d-flex align-items-center gap-1">
          حذف ملعب
          <span><img src="assets/Trash Bin Minimalistic.svg" alt="" /></span>
        </button> -->
      </div>
      <div class="d-flex align-items-center gap-3">
        <p class="PG-staus" routerLinkActive="PG-statusActive">
          الغير قابلة للحجز
        </p>
        <p class="PG-staus" routerLinkActive="PG-statusActive">القابلة للحجز</p>
      </div>
    </div>
    <!--  bg-box class removed from the below line -->
    <div class="m-0">
      <ng-container *ngIf="isLoading">
        <app-loader class="mx-auto"></app-loader>
      </ng-container>
      <ng-container *ngIf="!isLoading && allPGs && allPGs.length">
        <app-playground-details
          [allPGs]="allPGs"
          (reloaddata)="updateData($event)"
        ></app-playground-details>
      </ng-container>
      <ng-container *ngIf="!isLoading && (!allPGs || allPGs.length === 0)">
        <p class="m-auto text-center display-text">No data available</p>
      </ng-container>
    </div>
  </div>
</div>
