<div class="text-danger">
  <p>{{ addPG2Form.value | json }}</p>
</div>

<div class="container-fluid">
  <div class="w-50 mx-auto mt-4">
    <form [formGroup]="addPG2Form">
      <div class="d-flex flex-column align-items-end gap-2 p-0 mb-3">
        <label for="Pglocation" class="form-label">موقع الملعب</label>
        <div>
          <app-google-maps
            (locationChanged)="onChangeLocation($event)"
          ></app-google-maps>
        </div>
      </div>
      <div class="d-flex flex-row-reverse justify-content-between gap-3">
        <div class="d-flex flex-column align-items-end gap-2 p-0 mb-3 col">
          <label for="PgCountry" class="form-label">اسم البلد</label>
          <input
            type="text"
            name="country"
            id="PgCountry"
            class="form-control"
            formControlName="country"
          />
        </div>
        <div class="d-flex flex-column align-items-end gap-2 p-0 mb-3 col">
          <label for="PgCity" class="form-label">اسم المدينة</label>
          <input
            type="text"
            name="city"
            id="PgCity"
            class="form-control"
            formControlName="city"
          />
        </div>
      </div>
      <div class="d-flex flex-column align-items-end gap-2 p-0 mb-5 col">
        <label for="PgAdress" class="form-label">العنوان</label>
        <input
          type="text"
          name="address"
          id="PgAdress"
          class="form-control"
          formControlName="address"
        />
      </div>

      <div class="text-center">
        <button
          class="btn next-btn shadow"
          DarkGreen
          (click)="next()"
          [disabled]="!addPG2Form.valid"
        >
          <img src="assets/Arrow Left.svg" alt="next arrow" />
          التالي
        </button>
      </div>
    </form>
  </div>
</div>
