.checkbox:checked {
  background-color: #00b562;
  border: 1px solid #00b562;
}
.checkbox:focus {
  border: 1px solid #00b562;
}
.checkbox {
  border-color: #00b562;
}
.day-box {
  width: 14.28%;
  padding-top: 10px;
  border: 1px solid #9c9c9c;
}
.next-btn {
  color: #fff;
  background-color: #00b562;
  width: 300px;
}
